[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"
requests = "*"
click = "*"
click-log = "*"
aiohttp = "*"

[dev-packages]
pytype = "*"
flake8 = "*"
flake8-quotes = "*"
flake8-import-order = "*"
flake8-tidy-imports = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.10"
